#testimonials{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.testimonial-name{
    font-weight: bold;
}

mission-title{
    color: #d3d3d3; 
    }

.mission-statement{
    font-weight: bold;
    color:black;
}


.logo{
    width:10%; 
    height:15%;
    margin:auto;
    /* border:none; */
    position: relative;
    
    /* margin: auto; */
}

about-mission{
    text-align: center;
}

.news-1{
    color:white;
}

.fa {
  padding: 20px;
  font-size: 125%;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

.history, .events-text{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
}
.lrf-fund{
    font-family: 'Raleway', sans-serif;
}

.classes-text{
    font-family: 'Raleway', sans-serif;
    font-size:45px;
}

.history-statement{
    text-align: center;
}

.founder{
    text-align: center;
}

.about-founder{
    color:black;
}

.elotes{
    color:black;
}

.events{
    text-align: center;
}


.jumbotron{
    background-color:aliceblue;
} 

.about-carousel-inner{
    width: 1600px;
    height:1150px;
}

.carousel-content {
    position: absolute;
    /* bottom: 10%;
    left: 5%;
    z-index: 20; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin:0;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }
  
  .support-sec{
    background-color:aliceblue  
  }

  .donate{
      color:black;
  }


  .video{
     text-align: center;
  }

  .card-body{
      background-color: white;
  }

  .contact-section{
      text-align: center;
  }

  
  .carousel-image {
    margin:0 auto;
    max-width:1100px;
  }
  .index-carousel-caption{
      text-align: center;
      color:black;
      background-color: white;
      margin: auto;
       width:65%;
  }

  .events-carousel{
      color:white; 
  }

  .classes-video{
      text-align:center
  }

  .classes-pic{
      color:white;
  }

  .shop-jumbo{
      text-align:center;
  }

  .shop-jumbo-1{
      font-weight: bold;
  }

  .blog-jumbo{
      text-align:center;
  }

.blog-cards{
    color:black; 
    font-weight: bold;
}

.about-carousel{
    color:black;
    background-color: white;
    margin: auto;
     width:65%;
    /* height:25%; */
}

home-headlines{
    color:white;
    background-color: black;
    margin: auto;
     width:65%;
}

.founder-name{
    text-align: center;
}

.quote-v{
    text-align: center;
}

.veronica-quote{
    font-style:italic;
}

.events-section{
    text-align: center;

}

.elotes{
    text-align: center;
}

.contact-jumbo{
    background-image: url("../img/ICA\ Performance-110.jpg");
     background-size: cover;
    text-align: center;
       /* width:65%; */
}

.contact-text{
    color:black;
    background-color:white;
    margin: auto;
      width:65%;
}

.footer{
    /* text-align:center;  */
    height:100px;
    width:100%;
    background-color: grey;
    margin: auto;
    /* position: fixed; */
}

.footer-copy{
    color:white;
}

.footer-link{
    color:lightblue

}


.footer-location{
    color:white;
}

.donate-btn{
    background-color: lightblue;
    border-radius: 8px;

}

.footer-icons{
    float:right;
    margin:0;
}

.footer-in{
    background-color: #d3d3d3;
}

.contact-form{
    text-align: center;
}

.events-btn{
    text-align: center;
}

.gmail-calendar{
    text-align: center;
    /* float:right; */
}

.news-section{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.support-section, .classes-headline{
    font-family: 'Raleway', sans-serif;
}

.classes-vrocc, .class-description, .dance-headline{
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
}
.radio-broadcast{
    height:32rem;
}

.lrf, .community-outreach{
    height:32rem; 
}

.performance-pic{
    height:14rem;
}

.performance-card{
    height:15.5rem;
}

.performance-class-pic{
    height:16.5rem;
}

.dia{
    height:20rem;
}   

.live{
    height:18rem;
}


.founder-pic{
    height:55%;
    width:85%;
}


.next-arrow, button-next{
    color:black;
}

.volunteer-image{
    background-repeat: no-repeat;
    background-size: cover;
}

.involved-header{
    color:white; 
    font-weight: bold;
}

.classes-header-text{
    color:white;
}

.classes-btn{
    border-radius: 8px;
    background-color:#17a2b8;
    border-color: #17a2b8;
    font-family: 'Raleway', sans-serif;
}

.events{
  background-color:white;
  opacity:0.5;
  color:black;
  width:35%;
  height:20%;
  margin:auto;
  }

  .donate-card, .member-card, .volunteer-card{
      text-align: center;
      border-radius: 5px;
  }

  .support-text{
      text-align:center;
      font-family: 'Raleway', sans-serif;
  }
 
  .member-pic{
    height:20rem;
  }

  .member-jumbotext{
      color:black;
      opacity:0.7;
      background-color: white;
      width:45%;
      margin:auto;
  }

  .community-pic{
      height:11rem;
  }

  .lf-card{
      height:8rem;
      width:9rem;
      text-align:center;
  }


  .img-responsive-img-circle{
      max-width:250px;
      margin:0 auto 0 auto; 
      /* border:5px solid white;  */
      padding:5px;
      height:14rem;
       margin-bottom:13px;
  }