/* .donate-nav{
    float:right;
} */


#testimonials{
    text-align: center;
}

.testimonial-name{
    font-weight: bold;
}

mission-title{
    color: #d3d3d3; 
    }

.mission-statement{
    font-weight: bold;
    color:black;
}



.logo{
    width:10%; 
    height:15%;
    /* margin: auto; */
}

about-mission{
    text-align: center;
}

.news-1{
    color:white;
}