#testimonials{
    text-align: center;
}

.testimonial-name{
    font-weight: bold;
}

.mission-statement{
    font-weight: bold;
    color: #d3d3d3;
}

.logo{
    width:10%; 
    height:15%;
    /* margin: auto; */
}

about-mission{
    text-align: center;
}